<!--<div class="row">-->
<!--  <div class="col-lg-12 col-md-12">-->

<!--    <div class="container shape-container d-flex align-items-center py-lg">-->
<!--      <div class="col px-0">-->
<!--        <div class="row align-items-center justify-content-center">-->
<!--          <div class="col-lg-6 text-center">-->
<!--&lt;!&ndash;            <img src="./assets/img/elephpant.svg" alt="ZCE - PHP" style="margin-top: 150px; width: 200px;"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="img-fluid">&ndash;&gt;-->
<!--            <p class="lead text-white">Test your PHP knowledge.</p>-->
<!--            <div class="btn-wrapper mt-5">-->
<!--              <a class="btn btn-lg btn-icon mb-3 mb-sm-0 btn-white w100"-->
<!--                 title="Prepare module"-->
<!--                 routerLink="/prepare">-->
<!--                <span class="btn-inner&#45;&#45;icon"><i class="ni ni-cloud-download-95"></i></span>-->
<!--                <span class="btn-inner&#45;&#45;text">Prepare Module</span>-->
<!--              </a>-->
<!--              <a class="btn btn-lg btn-icon btn-danger mb-3 mb-sm-0 btn-github w100"-->
<!--                 title="Simulate ZCE"-->
<!--                 routerLink="/exam">-->
<!--                <span class="btn-inner-text">-->
<!--                  <span class="text-warning">Simulate ZCE </span>-->
<!--                  <span class="text-danger">Exam</span>-->
<!--              </span>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="btn-wrapper mt-5">-->
<!--              <a class="btn btn-lg btn-icon btn-danger mb-3 mb-sm-0 btn-github w100"-->
<!--                 title="Genarate PDF with 5 random question"-->
<!--                 (click)="pdfService.exportTestAsPDF(5)">-->
<!--                <span class="text-warning">PDF Test</span>-->
<!--                <span class="text-danger"> (5 Question)</span>-->
<!--              </a>-->
<!--              <a class="btn btn-lg btn-icon mb-3 mb-sm-0 btn-white w100"-->
<!--                 title="Genarate PDF with 10 random question"-->
<!--                 (click)="pdfService.exportTestAsPDF(10)">-->
<!--                <span style="color: #0b1011">PDF Test </span>-->
<!--                <span class="text-danger">(10 Question)</span>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<mat-slide-toggle [checked]="responsive"
                  (toggleChange)="responsive = !responsive">
  Responsive
</mat-slide-toggle>

<mat-grid-list
  [responsive]="responsive"
  (responsiveColsChange)="cols = $event"
  rowHeight="60"
  gutterSize="6px">
  <mat-grid-tile *ngFor="let folder of folders">
    <a class="grid-list-item mat-body mat-elevation-z2"
       mat-ripple
       [href]="folder.link">
      <mat-icon>insert_drive_file</mat-icon>
      <span class="flex-remain">{{folder.name}}</span>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.preventDefault()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu"
                xPosition="before"
                overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </a>
  </mat-grid-tile>
</mat-grid-list>
