@import '~@angular/material/theming';
@import '../../../theme';

.content {
  padding: 1em;
}

.example-spacer {
  flex: 1 1 auto;
}

.grid-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  text-decoration: none;
  padding: 4px;
  width: calc(100% - 10px);

  &, &:hover {
    color: mat-color($app-primary);
  }

  mat-icon:first-child {
    text-align: center;
    width: 40px;
  }
}
